body{
    font-family: 'Courier New', Courier, monospace;
    color: orange;
    background-color: sienna;
}

h1{
    color: palegreen;
    background-color: palevioletred;
    padding: 10px;
}
p{
    background-color: teal;
}
.dos{
    color: purple;
}

.tres{
    color: rosybrown;
}